{% extends "upload.html" %}

{% block content_classify %}
{% load static %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'classify.css' %}">

        <h2>There are {{count}} bird(s) in the image.</h2>
        <ul>
            {% for x in num_of_bird %}
                <li>
                    <img src="#" />
                    <h3>This is {{x}}.</h3>
                    <a href="https://en.wikipedia.org/wiki/Great_hornbill" target="_blank">see more...</a>
                </li>
            {% endfor %}
        </ul>
{% endblock content_classify %}