{% extends "main.html" %}

{% block content %}
{% load static %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'upload.css' %}">
<script>
    $('button').on('click', function() {
        $(this).toggleClass('active');
    })
</script>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
        <h1>jQuery Image Upload
            <small>with preview</small>
        </h1>
        <div class="avatar-upload">
            <div class="avatar-edit">
                <input id="imageUpload" type="file" name="document" onchange="PreviewImage();" />
                <label for="imageUpload"></label>
            </div>
            <div class="avatar-preview">
                <img id="imagePreview" style="width:100%;height:100%;" src="{% static 'media' %}/{{path}}">
            </div>
            <button class="classify_btn" type="submit">Classify</button>
        </div>
            {% block content_classify %}
            {% endblock content_classify %}
    </div>
</form>
<script type="text/javascript">
    function PreviewImage() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("imageUpload").files[0]);

        oFReader.onload = function (oFREvent) {
            document.getElementById("imagePreview").src = oFREvent.target.result;
        };
    };
</script>
    <script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock content %}